<!doctype html>
<html lang="en">

<% const title="Plasm Network" %>
  <% const tagline="A scaling dApps platform on Substrate" %>
    <% const url="https://www.plasmnet.io/" %>
      <% const description="Faster, Cheaper, and Interoperable Ethereum Compatible Smart Contract Platform on Polkadot"
        %>

        <head>
          <!-- Required meta tags -->
          <meta charset="utf-8">
          <meta name="viewport" content="width=device-width, initial-scale=1">
          <meta name="robots" content="index, follow">

          <title>
            <%= title %> - <%= tagline %>
          </title>
          <meta name="description" content="<%= description %>">
        </head>

        <body>
          <h1>Plasm Network</h1>
          <p><a href="shiden/">Go to Shiden Network →</a></p>
        </body>

</html>
